<div class="car-container">
        <img src="{{this.image}}" alt="{{this.model}}">
        <h2>{{this.brand}} {{this.model}}</h2>
        <p>Brand: {{this.brand}}</p>
        <p>Model: {{this.model}}</p>
        <p>Type: {{this.type}}</p>
        <p>Doors: {{this.doors}}</p>
        <p>Seats: {{this.seats}}</p>
        <p>Transmission: {{this.transmission}}</p>
</div>